@charset "utf-8";

/*************************************************/
/*   normal 13px                                                 */
/*  10px 77% / 11xp 85% / 12px 93% 　             */
/*  13px 100% / 14px 108% / 15px 116%           */
/*  16px 124% / 17px 131% / 18px 139%           */
/*  19px 147%  / 20px 154%  / 21px 162%         */
/*  22px 169%  / 23px 177%  / 24px 185%         */
/*  25px 192%  / 26px 200%                               */
/*                                                                        */
/*************************************************/

body{
background:#FBFBFB;
margin:0;
height:100%;
padding:0;
text-align:center;
}


select,
input,
button,
textarea{
font-size:99%;}

/*2014/11/27 add by baba --問合せフォームボタン--*/
button.btn_contact {
	font-size: 25px;
	color: #ffffff;
	padding: 12px 30px;
	background: -moz-linear-gradient(
		top,
		#fd9a43 0%,
		#fd9a43 25%,
		#fa5b21);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#fd9a43),
		color-stop(0.25, #fd9a43),
		to(#fa5b21));
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	border: 1px solid #fa5b21;
	-moz-box-shadow:
		2px 2px 2px rgba(000,000,000,0),
		inset 0px 0px 15px rgba(255,255,153,0);
	-webkit-box-shadow:
		2px 2px 2px rgba(000,000,000,0),
		inset 0px 0px 15px rgba(255,255,153,0);
	box-shadow:
		2px 2px 2px rgba(000,000,000,0),
		inset 0px 0px 15px rgba(255,255,153,0);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0),
		0px 1px 0px rgba(255,255,255,0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=5,enabled=true)";
  	filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=5,enabled=true); /* IE5.5+ */
  	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fd9a43', endColorstr='#fa5b21')";
  	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fd9a43', endColorstr='#fa5b21'); /* IE5.5+ */

}


/* **************************
  共通
************************** */
.pc_block {
	display: block !important;
}
.sp_block {
	display: none !important;
}

.text_cell {
	display: inline-block;
}

.container {
	background: #fff;
}

/* **************************
  header
************************** */
.hdr_wrap {
	line-height: 60px;
	height: 60px;
	box-sizing: border-box;
	position: relative;
	z-index: 100;
}
.hdr_inr {
	max-width: 1000px;
	margin: 0 auto;
}
.hdr_logo {
	width: 185px;
	float: left;
}
.hdr_gnav_list {
	display: flex;
	display:-webkit-box;
	display:-ms-flexbox;
	display: -webkit-flex;
	justify-content: space-between;
}
.hdr_gnav_list a {
	font-size: 13px;
}
.hdr_gnav .hdr_gnav_item:first-child {
	margin-left: 50px;
}
.hdr_gnav .hdr_gnav_item:last-child {
	margin-left: 40px;
}
.lang_switch {
	border: 1px solid #aaa;
	padding: 7px 24px;
}

@media screen and (min-width: 768px) {

	.hdr_inr {
		position: relative;
		padding-left: 185px;
		box-sizing: border-box;
	}

	.hdr_logo {
		position: absolute;
		left: 0;
		top: 0;
	}

}

@media screen and (max-width: 999px) {

	.hdr_logo .pc_block {
		display: none !important;
	}

	.hdr_logo .sp_block {
		display: block !important;
	}

	.hdr_logo img {
		width: 235px;
		height: 35px;
	}

	.hdr_logo {
		width: 15.4rem;
		float: left;
		padding-top: 11px;
		padding-left: 13px;
	}

	.hdr_gnav_item {
		margin: 1px auto;
		background: #fff;
	}

	.hdr_gnav_item:last-child {
		padding: 10px;
	}

}

/* **************************
  ハンバーガーメニュー
************************** */

/*PC,SPでの表示を切り替え*/
.slicknav_menu {
	display:none;
}
/*@media screen and (max-width: 768px) {*/
@media screen and (max-width: 1000px) {
	#gnav {
		display:none;
	}
	.slicknav_menu {
		display:block;
	}
}

.slicknav_icon,
.slicknav_icon span {
	display: inline-block;
	transition: all .4s;
	box-sizing: border-box;
}
.slicknav_icon {
	position: relative;
	width: 50px;
	height: 44px;
}
.slicknav_menu .slicknav_icon-bar{
	position: absolute;
	left: 0;
}
.slicknav_icon span:nth-of-type(1) {
	top: 0;
}
.slicknav_icon span:nth-of-type(2) {
	top: 3px;
}
.slicknav_icon span:nth-of-type(3) {
	bottom: 0;
}
.active .slicknav_icon-bar:nth-of-type(1) {
	-webkit-transform: translateY(6px) rotate(-45deg);
	transform: translateY(6px) rotate(-45deg);
}
.active .slicknav_icon-bar:nth-of-type(2) {
	opacity: 0;
}
.active .slicknav_icon-bar:nth-of-type(3) {
	-webkit-transform: translateY(-6px) rotate(45deg);
	transform: translateY(-6px) rotate(45deg);
}






/*2014/12/9 add by baba --問合せフォームボタン--*/
button.btn_contact02 {
	font-size: 25px;
	color: #ffffff;
	padding: 12px 30px;
	border: 3px solid #fa5b21;
	text-align: center;
	background-color: #fa6f3c;
	color: #ffffff;
}

button.btn_contact02,
button.btn_contact02::before,
button.btn_contact02::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}

button.btn_contact02:hover {
	background-color: #fd9a43;
}

button.btn_contact03 {
	height:180px;
	font-size: 25px;
	color: #ffffff;
	padding: 12px 30px;
	border: 3px solid #fa5b21;
	text-align: center;
	background-color: #fa6f3c;
	color: #ffffff;
}

button.btn_contact03,
button.btn_contact03::before,
button.btn_contact03::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}

button.btn_contact03:hover {
	background-color: #fd9a43;
}

table{
border-collapse:collapse;
border-spacing:0;
font-size:inherit;
}

textarea,input{margin:0;padding:0}

caption,th{text-align:left}
td,th{vertical-align: top}

fieldset,img,abbr{border:none}
li{list-style-type:none}
hr{display:none}

#contents a,
#contents  a:link{color:#3A280E; text-decoration:underline}
#contents  a:visited{}
#contents  a:hover{color:#1A5DBF;}

/* 20140918 add by baba */
#contents .box_contact a:hover img{
	opacity: 0.6;
	filter: alpha(opacity=60);
}

.clear { clear:both;}

/* clerfix */
.clearfix:after {
  content: ".";
  display: block; 
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}


/***********************************************/
/* layout divs                                                   */
/***********************************************/

#wrap{
	width:expression(document.body.clientWidth > 982? "980px" : "auto");
	text-align:left;
}


/*--------index------------*/

#index #visual ul li{
	height:125px;
	float:left;
	text-align:center;
	padding-top:35px;
	width:33%;
}
#index #visual.wide ul li{
	height:170px;
	padding-top:80px;
}
#index #visual ul li.prd01{background:url(../img/index/bg_prd01.jpg) repeat center center;}
#index #visual ul li.prd02{background:url(../img/index/bg_prd02.jpg) repeat center center; width:34%;}
#index #visual ul li.prd03{background:url(../img/index/bg_prd03.jpg) repeat center center;}
#index #visual ul li.prd04{background:url(../img/index/bg_prd04.jpg) repeat center center;}
#index #visual ul li.prd05{background:url(../img/index/bg_prd05.jpg) repeat center center; width:34%;}
#index #visual ul li.prd06{background:url(../img/index/bg_prd06.jpg) repeat center center;}

#index #visual .productA,#index #visual .productB{clear:both;}

#index .topNews{
	margin:0 auto 10px;
	width:980px;
}
#index .topNews .inner{
	padding:10px;
	width:700px;
	float:left;
	}
#index .topNews .nTopic{
	width:680px;
	margin:5px auto;
}
#index .topNews #date{
	display:table-cell;
	clear:both;
	width:110px;
	font-weight:bold;
	float:left;
	margin:0;
}
#index .topNews #news{
	display:table-cell;
	float:right;
	width:560px;
	margin:0;
}
#index .topNews dl dt{
	display:table-cell;
	clear:both;
	width:120px;
	font-weight:bold;
	float:left;
	margin:0;
}
#index .topNews dl dd{
	display:table-cell;
	clear:both;
	float:right;
	width:500px;
	margin:0;
}
#index .topNews p{clear:both;}

#index .topNews .inner2{
	padding:20px;
	width:200px;
	float:right;
	}

/*footer*/

footer{}
footer .inner{
	color:#fff;
	padding:0 20px;
	position:relative;
	margin:0 auto;
	width:940px;
}
footer .inner #pageTop{
	position:absolute;
	right:20px;
	top:-65px;
}

footer .inner a{
	color:#ddd;
	font-size:93%;
	text-decoration:none;
}
footer .inner a:hover{color:#fff;}

footer .sitelink{background:#000000; padding:15px 0; border-bottom:1px solid #2B2F3B;margin:0 auto;}
footer .sitelink li{
	display:inline;
	margin-right:15px;
	font-size:80%;
}
footer .sitelink .link01 li a{
	background:url(../img/common/link01.png) no-repeat left center;
	padding-left:20px;
}
footer #prdlink{background:#2B2F3B; padding:45px 0 20px; border-top:1px solid #000;}
footer #prdlink .col{
	float:left;
	margin-right:30px;
	width:290px;
}
footer #prdlink .end{margin-right:0;}
footer #prdlink dl{
	margin-bottom:30px;
}
footer #prdlink dl dt{
	color:#ddd;
	font-size:108%;
	font-weight:bold;
	margin-bottom:10px;
}
footer #prdlink dl dd{
	color:#ddd;
	background:url(../img/common/line_low.png) repeat-x bottom;
	padding-bottom:5px;
	margin-bottom:5px;
}
footer #prdlink dl dd a{
	background:url(../img/common/icon_01.png) no-repeat left center;
	padding-left:15px;
}
footer .bnrlink{padding:15px 0 0; border-top:1px solid #2B2F3B; margin-bottom:10px;}
footer .bnrlink dl{
	float:left;
	margin-right:15px;
}
footer .bnrlink dl.end{margin-right:0;}
footer .bnrlink dd{
	font-size:85%;
	text-align:center;
}
footer .bnrlink dd a,
footer .bnrlink dd a:hover{color:#000;}
	
footer .footInfo{
	padding:20px 0;
	margin:0 auto;
	width:50%;
}
footer .footInfo address{
	color:#000;
	float:left;
}
footer .footInfo .privacy{
	float:right;
	margin-left:10px;
}
footer .copy{ clear:both; text-align:center; margin-bottom:20px;}

/*imagegate*/

#imagegate_menu{
	border:0.2px solid #fff;
	background-color:#ffffff;
	margin-top: -5px; 
	margin-bottom: 20px; 
	margin-left: 0; 
	margin-right: 0; 
	height:31px;
}

#imagegate_menu ul{ 
position: relative;
margin: 0; 
padding: 0; 
list-style: none; 
}
#imagegate_menu li{ 
padding: 0; 
margin: 0; 
float: left;
}
#imagegate_menu li a{
display: block; 
background: url(../img/imagegatemenu_01.jpg) no-repeat;
border: 1px;
padding: 3px;
text-decoration: none;
color: #333;
width: 130px; 
height: 31px;
margin: 0px;
text-align: center;
font-size: 14px;
}
#imagegate_menu li a:hover{
display: block; 
background: url(../img/imagegatemenu_01.jpg) no-repeat;
text-decoration: underline;
color: #0000cd;
margin: 0px;
}
#imagegate_menu li.now a{
display: block; 
background: url(../img/imagegatemenu_03.jpg) no-repeat;
border: 1px;
padding: 3px;
text-decoration: none;
color: #fcfcfc;
width: 130px; 
height: 31px;
margin: 0px;
text-align: center;
font-size: 14px;
}
#imagegate_menu li.now a:hover{
display: block; 
background: url(../img/imagegatemenu_03.jpg) no-repeat;
text-decoration: none;
color: #fcfcfc;
margin: 0px;
}







